* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.navbar {
    margin: 0;
}

/* fixing a bug in bootstrap  */
.list-group-item.active {
    border: 1px solid transparent!important;
}

.page {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    padding: 0;
}

.page > .row {
    height: calc(100% - 40px);
    margin: 0;
}

.spots-menu {
    height: calc(100% - 39px);
    padding: 0;
}

#spots-list {
    height: 100%;
    overflow-y: auto;
}

#map {
    height: 100%;
    padding: 0;
    color: #2b3e50;
}

.input-group-addon {
    background: #df691a;
}

/* INFOWINDOW ELEMENTS */
.rating {
    float: right;
    margin-top: -1.5em;
    font-size: 1.5em;
    font-weight: 400;
}

.spot-image {
    border: 1px solid #2b3e50;
    max-width: 100%!important;
}

.contact {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.review {
    font-size: 1.3em;
    opacity: 0.8;
}

.review > p {
    font-style: italic;
}

.review > footer {
    color: inherit;
    opacity: 0.4;
}