* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.navbar {
    margin: 0;
}

/* fixing a bug in bootstrap  */
.list-group-item.active {
    border: 1px solid transparent!important;
}

.page {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    padding: 0;
}

.page > .row {
    height: calc(100% - 40px);
    margin: 0;
}

.spots-menu {
    height: calc(100% - 39px);
    padding: 0;
}

#spots-list {
    height: 100%;
    overflow-y: auto;
}

#map {
    height: 100%;
    padding: 0;
    color: #2b3e50;
}

.input-group-addon {
    background: #df691a;
}

#clear-filter {
    position: absolute;
    right: 8px;
    top: 0;
    bottom: 0;
    height: 15px;
    z-index: 99;
    margin: auto;
    cursor: pointer;
}

/* INFOWINDOW ELEMENTS */
h4 > small {
    color: #888;
}

/* MODAL ELEMENTS*/
blockquote {
    font-size: 16px;
    border-color: #485563!important;
}

blockquote > footer {
    margin-top: 10px;
}

blockquote > footer > img {
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin-right: 5px;
}

#picture-reel {
    height: 150px;
    -ms-overflow-y: auto;
        overflow-y: auto;
        white-space: nowrap;
}

#picture-reel > img {
    height: 100%;
    display: inline;
}