/*
 *  GENERAL RULES
 */

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
}

.page {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    padding: 0;
}

.page > .row {
    height: calc(100% - 40px);
    margin: 0;
    position: relative;
}

#map {
    height: 100%;
    padding: 0;
    color: #2b3e50;
}

.map-error {
    color: #fff;
    height: 100%;
    margin-top: 15%;
}

address > strong,
address > span,
address > a {
    display: block;
}

.btn-fb {
    background: #365899;
    color: #fff;
}

.btn-fb:hover {
    background: #2C4A87;
}


/*
 *  NAVBAR
 */

.navbar {
    margin: 0;
}

.icon-bar {
    background: #fff;
}

.icon-link {
    position: absolute;
    right: 20px;
    height: 40px;
}

.icon-link-description {
    display: none;
}


/*
 *  LIST GROUP MENU
 */

.list-group-item.active {
    /* fixing a bug in bootstrap  */
    border: 1px solid transparent!important;
}

.spots-menu {
    height: calc(100% - 39px);
    padding: 0;
}

#spots-list {
    height: 100%;
    position: relative;
}

.input-group {
    width: 100%;
}

.input-group-addon {
    background: #df691a;
    left: 0;
}

#filter-text {
    font-size: 16px;
}

#clear-filter {
    position: absolute;
    right: 8px;
    top: 0;
    bottom: 0;
    height: 15px;
    z-index: 99;
    margin: auto;
    cursor: pointer;
}


/*
 *  INFOWINDOW ELEMENTS 
 */

h4 > small {
    color: #888;
}


/*
 *  WEATHER MODAL
 */

#weather {
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
    font-size: 0;
}

.weather-day {
    display: inline-block;
    width: calc(100% / 7);
    min-width: calc(558px / 7);
    text-align: center;
    font-size: 15px;
}

.weather-temp {
    display: block;
}


/*
 *  MODAL ELEMENTS
 */

.modal-header {
    position: relative;
}

#fs-rating {
    display: block;
    position: absolute;
    right: 50px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 30px;
    font-size: 20px;
    background: green;
    padding: 3px 10px;
    box-sizing: content-box;
    cursor: default;
}

#fs-rating-of {
    font-size: 10px;
    vertical-align: super;
    margin-left: 2px;
}

#fs-info {
    margin-bottom: 25px;
}

blockquote {
    font-size: 16px;
    border-color: #485563!important;
}

blockquote > footer {
    margin-top: 10px;
}

blockquote > footer > img {
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin-right: 5px;
}

#flickr {
    margin-bottom: 25px;
}

#picture-reel {
    position: relative;
    height: 150px;
    overflow-x: auto;
    white-space: nowrap;
    font-size: 0;
}

#picture-reel > img {
    height: 100%;
    display: inline;
}

.modal-footer-info {
    display: inline-block;
    float: left;
    font-size: 10px;
    line-height: 1.2;
}


/*
 *  BREAKPOINTS
 */

/* Adjust info modal content on width < 550px */ 
@media screen and (max-width: 550px) {
    #address-col {
        width: 50%;
    }

    #hours-col {
        width: 50%;
    }

    #links {
        width: 100%!important;
    }

    #links > .btn-xs {
        padding: 2px;
        font-size: 0.9em;
    }

    #infoModalLabel {
        font-size: 16px;
    }

    #fs-rating {
        height: 26px;
        font-size: 18px;
        padding: 3px 6px;
        right: 36px;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    #spots-menu {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9;
    }

    #clear-filter {
        padding: 15px;
        right: 0;
        top: -16px;
    }

    .icon-link {
        right: 0;
    }
}

/* Width > 768px */
@media screen and (min-width: 768px) {
    .icon-link:hover .icon-link-description {
        display: inline;
    }
}